    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  th, td {
    padding: 15px;
    text-align: center;
  }
.Title{
    text-align: center;
    color: white;
    padding: 5px;
  }
.Upper_Head{
    background-color: #333;
    border-radius: 10px;
    width: 100%;
    border: 2px;
    border-color: black;
}
.Navigation_Bar{
    padding: 5px;
    border: 2px;
    border-color: white;
}
th {
  background-color: #333;
  color: white;
}

.button,.btnAdd,.buttons{
    align-self: center;
}

.Input{
    align-self: center;
    text-align: center;
    background-color: #999999;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.Intro{
    align-content: center;
    align-self: center;
    text-align: center;
}

.UsersTable,TableHead,.TableBody,.TableRow,.TableElement,.Attempt_Table{
    border: 5px solid #111111;
    margin: 5px;
    padding: 5px;
}

.UsersTable,.Attempt_Table{
    width: 85%;
    align-content: center;
    align-self: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.edit, .save, .delete,.InUse{
    display: block;
    align-self: center;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px auto;
}
.edit,.save,.delete:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.NotInUse{
    display: none;

}

.ButtonBackground{
    background-color: white;
    border: 1px #111111;
    padding: 5px;
    width: 35%;
    align-content: center;
    align-self: center;
    text-align: center;
    margin: 2px auto;
}

.LargeButton{
    display: block;
    background-color: #333;
    color: white;
    align-content: center;
    align-self: center;
    text-align: center;
    margin: 5px;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}
.LargeButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}